.background {
    -fx-background-color: #36006c;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-color: #750be0;
}

.table-view .table-column {
    -fx-background-color: #750be0;
    -fx-background-radius: 6px;
}

.table-view .column-header-background{
    -fx-background-color: #750be0;
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-padding: 5px 0px 5px 0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 20px;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 20px;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #36006c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #36006c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.scroll-bar:vertical , .scroll-bar:horizontal , .scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow, .scroll-bar .corner{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb{
    -fx-background-color: #36006c;
    -fx-background-radius: 5px;
}

.back-button {
    -fx-background-color: #750be0;
    -fx-text-fill: White;
    -fx-font-family: "DejaVu Sans";
    -fx-background-radius: 60px;
    -fx-font-size: 20px;
}

.back-button:pressed {
    -fx-background-color: #ba90ec;
    -fx-text-fill: Black;
}