.background {
    -fx-background-color: #36006c;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #750be0;
    -fx-background-radius: 5px 5px 0px 0px;
}

.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 20px;
    -fx-padding: 5px 0px 5px 0px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 5px 5px 0px 0px;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-alignment: center;
    -fx-text-fill: Black;
    -fx-font-size: 14px;
    -fx-font-family: "DejaVu Sans";
}

.table-row-cell:filled:odd {
    -fx-background-color: #984de5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:filled:even {
    -fx-background-color: #b085e7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #36006c;
    -fx-background-radius: 5px;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #36006c;
    -fx-background-radius: 5px;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.back-button {
    -fx-background-color: #750be0;
    -fx-text-fill: White;
    -fx-font-family: "DejaVu Sans";
    -fx-background-radius: 60px;
    -fx-font-size: 20px;
}

.back-button:pressed {
    -fx-background-color: #ba90ec;
    -fx-text-fill: Black;
}

